:root {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
}
